@use "@dev-ui/tokens/scss" as *;

.root {
  position: relative;
  overflow: auto;
  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

.content {
  position: relative;
  width: 100%;
}

.item {
  position: absolute;
  display: flex;
  align-items: center;
  padding-inline: var(--space-3);
  border-bottom: 1px solid var(--color-border);
  font-size: 0.875rem;
  box-sizing: border-box;
}
