@use "@dev-ui/tokens/scss" as *;

.popover {
  z-index: 50;
  width: var(--trigger-width, auto);
  min-width: 8rem;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: var(--popover-radius);
  background-color: var(--color-popover);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
  outline: none;
}

.underlay {
  position: fixed;
  inset: 0;
}
