@use "@dev-ui/tokens/scss" as *;

.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
}

.trigger {
  width: 100%;
  justify-content: flex-start;
}

.value {
  flex: 1;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-fg);

  &[data-placeholder="true"] {
    color: var(--color-fg-muted);
  }
}

.chevron {
  margin-left: auto;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.list {
  width: 100%;
  max-height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
}
