:root {
  --radius-factor: 1;

  --radius-factor: 1;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: Source Serif 4, ui-serif, Georgia, serif;
  --font-mono: JetBrains Mono, ui-monospace, monospace;

  --neutral-50: oklch(0.985 0.0054 257.42);
  --neutral-100: oklch(0.977 0.0074 257.42);
  --neutral-200: oklch(0.945 0.0093 257.42);
  --neutral-300: oklch(0.8926 0.0107 257.42);
  --neutral-400: oklch(0.7802 0.0117 257.42);
  --neutral-500: oklch(0.6266 0.012 257.42);
  --neutral-600: oklch(0.4979 0.0117 257.42);
  --neutral-700: oklch(0.3281 0.0107 257.42);
  --neutral-800: oklch(0.2287 0.0093 257.42);
  --neutral-900: oklch(0.1593 0.0074 257.42);
  --neutral-950: oklch(0.13 0.0054 257.42);

  --accent-50: oklch(0.9734 0.0151 302.11);
  --accent-100: oklch(0.9309 0.0376 296.96);
  --accent-200: oklch(0.8758 0.0682 295.49);
  --accent-300: oklch(0.8208 0.1003 294.97);
  --accent-400: oklch(0.735 0.1534 294.71);
  --accent-500: oklch(0.6438 0.2119 293.58);
  --accent-600: oklch(0.5733 0.213 292.72);
  --accent-700: oklch(0.4689 0.1959 292.72);
  --accent-800: oklch(0.3944 0.1693 292.72);
  --accent-900: oklch(0.32 0.1357 292.72);
  --accent-950: oklch(0.2378 0.0985 292.72);

  --success-50: oklch(0.962 0.0546 167.76);
  --success-100: oklch(0.9356 0.0952 163.22);
  --success-200: oklch(0.8811 0.1187 163.22);
  --success-300: oklch(0.8267 0.1374 163.22);
  --success-400: oklch(0.7422 0.1494 163.22);
  --success-500: oklch(0.6531 0.1445 161.4);
  --success-600: oklch(0.5824 0.1323 159.76);
  --success-700: oklch(0.478 0.1098 159.07);
  --success-800: oklch(0.4034 0.0937 158.39);
  --success-900: oklch(0.329 0.0777 157.43);
  --success-950: oklch(0.2444 0.0577 157.5);

  --warning-50: oklch(0.9658 0.0641 97.76);
  --warning-100: oklch(0.926 0.0984 91.04);
  --warning-200: oklch(0.8811 0.1271 84.43);
  --warning-300: oklch(0.8267 0.1472 84.43);
  --warning-400: oklch(0.743 0.1528 82.99);
  --warning-500: oklch(0.6497 0.1344 80.45);
  --warning-600: oklch(0.5752 0.1192 79.92);
  --warning-700: oklch(0.4707 0.0978 78.92);
  --warning-800: oklch(0.3962 0.0826 77.89);
  --warning-900: oklch(0.3218 0.0675 76.38);
  --warning-950: oklch(0.2395 0.0508 73.65);

  --danger-50: oklch(0.9658 0.0259 332.55);
  --danger-100: oklch(0.9232 0.052 341.07);
  --danger-200: oklch(0.8681 0.0896 344.56);
  --danger-300: oklch(0.8129 0.1319 346.09);
  --danger-400: oklch(0.7422 0.1705 349.76);
  --danger-500: oklch(0.6478 0.1752 349.76);
  --danger-600: oklch(0.5733 0.1705 349.76);
  --danger-700: oklch(0.4689 0.1568 349.76);
  --danger-800: oklch(0.3944 0.1355 349.76);
  --danger-900: oklch(0.32 0.1086 349.76);
  --danger-950: oklch(0.2378 0.0789 349.76);

  --info-50: oklch(0.9734 0.0306 201.84);
  --info-100: oklch(0.9309 0.0532 215.8);
  --info-200: oklch(0.8759 0.0855 222.39);
  --info-300: oklch(0.8223 0.1159 226.98);
  --info-400: oklch(0.7422 0.1352 232.66);
  --info-500: oklch(0.65 0.1357 233.81);
  --info-600: oklch(0.5797 0.1255 236.41);
  --info-700: oklch(0.4776 0.1072 238.78);
  --info-800: oklch(0.403 0.092 239.8);
  --info-900: oklch(0.3273 0.0751 240.08);
  --info-950: oklch(0.2427 0.0551 239.42);

  --on-neutral-50: black;
  --on-neutral-100: black;
  --on-neutral-200: black;
  --on-neutral-300: black;
  --on-neutral-400: black;
  --on-neutral-500: black;
  --on-neutral-600: white;
  --on-neutral-700: white;
  --on-neutral-800: white;
  --on-neutral-900: white;
  --on-neutral-950: white;
  --on-accent-50: black;
  --on-accent-100: black;
  --on-accent-200: black;
  --on-accent-300: black;
  --on-accent-400: black;
  --on-accent-500: black;
  --on-accent-600: white;
  --on-accent-700: white;
  --on-accent-800: white;
  --on-accent-900: white;
  --on-accent-950: white;
  --on-success-50: black;
  --on-success-100: black;
  --on-success-200: black;
  --on-success-300: black;
  --on-success-400: black;
  --on-success-500: black;
  --on-success-600: black;
  --on-success-700: white;
  --on-success-800: white;
  --on-success-900: white;
  --on-success-950: white;
  --on-warning-50: black;
  --on-warning-100: black;
  --on-warning-200: black;
  --on-warning-300: black;
  --on-warning-400: black;
  --on-warning-500: black;
  --on-warning-600: black;
  --on-warning-700: white;
  --on-warning-800: white;
  --on-warning-900: white;
  --on-warning-950: white;
  --on-danger-50: black;
  --on-danger-100: black;
  --on-danger-200: black;
  --on-danger-300: black;
  --on-danger-400: black;
  --on-danger-500: black;
  --on-danger-600: white;
  --on-danger-700: white;
  --on-danger-800: white;
  --on-danger-900: white;
  --on-danger-950: white;
  --on-info-50: black;
  --on-info-100: black;
  --on-info-200: black;
  --on-info-300: black;
  --on-info-400: black;
  --on-info-500: black;
  --on-info-600: black;
  --on-info-700: white;
  --on-info-800: white;
  --on-info-900: white;
  --on-info-950: white;
}