VITE_API_URL=http://localhost:3000
VITE_AUTH_BYPASS=true

VITE_FIREBASE_API_KEY=AIzaSyCARaqAZGUgQVcWWbO_Xs5lj0dXarhQK_M
VITE_FIREBASE_AUTH_DOMAIN=step-up10.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=step-up10
VITE_FIREBASE_APP_ID=1:621358486924:web:7eb4e11879965db381f2a9
VITE_FIREBASE_VAPID_KEY=

VITE_SENTRY_DSN=https://bf0f9fe6980187c054940b0854ac1445@o4511762774163456.ingest.us.sentry.io/4511762892455936
