@use "@dev-ui/tokens/scss" as *;

@mixin collection-list-item {
  border-radius: var(--list-box-item-radius);

  &:first-of-type {
    border-top-left-radius: var(--list-box-item-edge-radius);
    border-top-right-radius: var(--list-box-item-edge-radius);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--list-box-item-edge-radius);
    border-bottom-right-radius: var(--list-box-item-edge-radius);
  }
}
